#title{
    background-color: #47bfc4;
}
.heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15% 7%;
}
body{
    font-family: "Montserrat";
}

/* Navigation Bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem 0;
}
.nav-item{
    padding: 0 15px 0 15px;
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
    width: bold;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative; 
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding:5%;
}
h3{
    font-family: 'Montserrat-Bold' 'sans-serif';
}
p{
    color: #8f8f8f;
}
.icon{
    color: #67a8a8;
    margin-bottom: 1rem;
}
.icon:hover{
    color: black;
}

/* Testimonials */
#testimonials{
    text-align: center;
    background-color: #67a8a8;
    color: #fff;
}
h2{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */
#press{
    background-color: #67a8a8;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-container{
    padding: 3%;
}
@media(max-width: 994px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
    

/* Call To Action */
#cta{
    background-color: #47bfc4;
    padding: 7% 15%;
    color: #fff;
    text-align: center;
   }
   .cta-heading{
       text-align: center;
       font-family: 'Montserrat-Black', sans-serif;
       font-weight:bold;
       font-size: 3.5rem;
    line-height: 1.5;
       
   }


   /* Footer Section */
   #footer{
       padding: 7% 15%;
       text-align: center;
   }

   .social-icon{
       margin: 20px 10px;
   }
